.button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 600;
  color: #424242;
  -webkit-user-select: none; 
  -moz-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #e6e6e6;
}

.button:active {
  -webkit-box-shadow: inset 2px -2px 20px -5px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 2px -2px 20px -5px rgba(0,0,0,0.4);
  box-shadow: inset 2px -2px 20px -5px rgba(0,0,0,0.4);
}

.two-columns {
  flex: 2;
}

.three-columns {
  flex: 3;
}

.operator {
  background-color: #eaeaea;

  svg {
    width: 20px;
  }
}

.operator:hover {
  background-color: #d9d9d9;
}

.colored-background {
  background: rgb(227,74,157);
  background: linear-gradient(40deg, rgba(227,74,157,1) 0%, rgba(247,181,42,1) 100%);
  color: white;
  font-size: 3rem;

  svg {
    color: white;
  }
}

.colored-background:hover {
  background: linear-gradient(40deg, rgb(221, 34, 137) 0%, rgb(246, 171, 9) 100%);
}