$calculatorWidth: 360px;

.calculator {
  width: $calculatorWidth;
  height: 500px;
  border-radius: 9px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.5);
}

.row {
  display: flex;
  height: $calculatorWidth/4;
  width: 100%;
}