.display {
  position: relative;
  background: rgb(227,74,157);
  background: linear-gradient(40deg, rgba(227,74,157,1) 0%, rgba(247,181,42,1) 100%);
  height: 9rem;
  color: #ffffff;
  font-size: 3rem;
  -webkit-user-select: none; 
  -moz-user-select: none;
  user-select: none;
  text-align: right;
}

.output {
  position: absolute;
  right: 2rem;
  top: 35%;
  transform: translateY(-35%);
  width: 300px;
}

.error-message {
  position: absolute;
  right: 2rem;
  top: 80%;
  transform: translateY(-80%);
  font-size: 1.2rem;
  text-transform: uppercase;
}